@font-face {
    font-family: "Futura";
    src: url("../../../public/fonts/futura-light-font.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../../../public/fonts/futura-medium-condensed-bt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../../../public/fonts/futura-bold-font.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../../../public/fonts/futura-extra-black-condensed-italic-font.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}