.scrollIndicator {
    height: 80px;
    width: 80px;
    position: absolute;
    background-color: $blue;
    color: $black;
    border-radius: 50%;
    font-size: 2rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    bottom: 0%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sectionTitle {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 12rem;
}

.serviceDivider {
    background-color: $gradient-blue;
    min-width: 100%;
    min-height: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: $blue;
}

* {
    scrollbar-width: auto;
}

*::-webkit-scrollbar-thumb {
    background-color: $blue;
}

*::-webkit-scrollbar-track {
    background: black;
}

::selection {
    background-color: $blue;
    color: $black;
}

.down {
    animation: down 2s infinite;
}