section.contact {
  padding-top: 10rem;
  & > h1 {
    margin-bottom: 8rem;
  }
  & .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    & .firstRow,
    & .secondRow {
      & h3 {
        margin-bottom: 4rem;
        font-weight: normal;
      }
      & .services,
      & .budgets {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        & .singleService,
        & .singleBudget {
          padding: 1rem 3rem;
          border: 2px solid $blue;
          font-size: 3.5rem;
          border-radius: 5rem;
          cursor: pointer;
          &.selected {
            background-color: $blue;
            color: $black;
          }
        }
      }
    }
  }
  & form {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10rem;
    column-gap: 5rem;
    & input,
    & textarea {
      background: none;
      height: 10rem;
      border: none;
      border-bottom: 2px solid $blue;
      font-size: 3.5rem;
      outline: none;
      color: $blue;
      font-family: "Futura", sans-serif;
      &::placeholder {
        color: $blue;
      }
    }
    & textarea {
      font-family: "Futura", sans-serif;
      grid-column: span 2;
    }
    & .discuss {
      margin: 5rem 0 10rem 0;
      & button {
        font-size: 6rem;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 0.8rem;
        cursor: pointer;
        font-family: "Futura";
        border: none;
        background: none;
        color: $blue;
      }
    }
  }
  @media (max-width: 1200px) {
    & form {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 768px) {
    padding-top: 5rem;
    & > h1 {
      margin-bottom: 4rem;
      font-size: 4rem;
    }
    & .wrapper {
      gap: 4rem;
      & .firstRow,
      & .secondRow {
        & h3 {
          margin-bottom: 2rem;
          font-size: 2.5rem;
        }
        & .services,
        & .budgets {
          gap: 2rem;
          & .singleService,
          & .singleBudget {
            font-size: 2rem;
            padding: 0.5rem 1.5rem;
          }
        }
      }
    }
    & form {
      row-gap: 5rem;
      column-gap: 2.5rem;
      & input,
      & textarea {
        height: 5rem;
        font-size: 2rem;
      }
      & .discuss button {
        font-size: 4rem;
      }
    }
  }
  @media (max-width: 480px) {
    padding-top: 2rem;
    & > h1 {
      margin-bottom: 3rem;
      font-size: 5rem;
    }
    & .wrapper {
      gap: 3rem;
      & .firstRow,
      & .secondRow {
        & h3 {
          margin-bottom: 1rem;
          font-size: 2.5rem;
        }
        & .services,
        & .budgets {
          gap: 1rem;
          & .singleService,
          & .singleBudget {
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
          }
        }
      }
    }
    & form {
      row-gap: 2.5rem;
      column-gap: 1.25rem;
      & input,
      & textarea {
        height: 4rem;
        font-size: 1.5rem;
      }
      & .discuss button {
        font-size: 3rem;
      }
    }
  }
}
