.cursor {
  width: 20px;
  height: 20px;
  position: fixed;
  background-color: $blue;
  z-index: 101;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  & p {
    font-size: 0.5rem;
    position: relative;
    color: black;
    font-weight: normal;
    font-style: italic;
    opacity: 0;
  }
}

@media screen and (max-width: 880px) {
  .cursor {
    display: none;
  }
}
