footer {
  margin-top: 10rem;
  position: relative;
  & .bottom {
    background-color: $blue;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    padding: 7rem 7rem 20rem 7rem;
    color: $black;
    position: relative;
    z-index: 2;
    background-color: $blue;
    & .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .left {
        & .logo {
          width: fit-content;
          & img {
            width: 100%;
          }
        }
        & a {
          font-weight: bold;
          font-style: italic;
          text-transform: uppercase;
          font-size: 5.5rem;
        }
      }
      & .right {
        & svg {
          width: 4rem;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
    & p {
      text-align: center;
      margin-top: 10rem;
      font-size: 2.5rem;
    }
  }
  & .jumpBackUp {
    background-color: $black;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0%;
    font-size: 7rem;
    font-weight: bold;
    font-style: italic;
    z-index: 1;
    transform: translateY(100%);
    padding-top: 4rem;
    padding-bottom: 4rem;
    & p {
      display: inline;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1150px) {
  footer {
    margin-top: 5rem;
    & .bottom {
      padding: 7rem 3rem 20rem 3rem;
      & .wrapper {
        gap: 1rem;
        flex-wrap: wrap;
        & .left {
          & a {
            font-size: 5rem;
          }
        }
        & .right {
          & svg {
            width: 2.2rem;
            &:not(:last-child) {
              margin-right: 1rem;
            }
          }
        }
      }
      & p {
        font-size: 1.5rem;
      }
    }
    & .jumpBackUp {
      & p {
        font-size: 5rem;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  footer {
    margin-top: 5rem;
    & .bottom {
      & .wrapper {
        flex-direction: column;
        align-items: center;
        & .left {
          & a {
            font-size: 3rem;
          }
        }
        & .right {
          & svg {
            width: 2.5rem;
            &:not(:last-child) {
              margin-right: 2rem;
            }
          }
        }
      }
      & p {
        text-align: center;
        font-size: 1.5rem;
      }
    }
    & .jumpBackUp {
      transform: translateY(90%);
      & p {
        font-size: 5rem;
      }
    }
  }
}

//TODO:here have to fix why theres a white border around my div
