.mainBg {
    height: 1000vh;
    background-color: $black;
}

.radialgradient {
    padding: 3rem 5rem;
    position: relative;
    height: 100%;
    background-image: radial-gradient(circle at 50% 50%, #2d3241 0%, #000 100%);
}