.marqueeContainer {
  overflow: hidden;
  white-space: nowrap;
  transform: translateY(22px);
  & .marquee {
    font-size: 0;
    & .clippedText {
      display: inline-block;
      margin-right: 10rem;
    }
  }
}

@media screen and (max-width: 1180px) {
  .marqueeContainer {
    & .marquee {
      & .clippedText {
        font-size: 10rem;
      }
    }
  }
}
