nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  & .burger {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    & div {
      background-color: $blue;
      min-width: 4.5rem;
      min-height: 5px;
    }
  }
  & .logo a {
    font-size: 10rem;
    font-weight: bold;
    font-style: italic;
  }
}
