section.services {
  & .allServices {
    position: relative;
    margin-top: 5rem;
    & .singleService {
      margin: 4rem auto;
      display: flex;
      justify-content: center;
      & .serviceNo {
        font-size: 2.5rem;
        position: absolute;
        top: -20%;
        left: 0;
      }
      & .serviceInfos {
        width: 50vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        & h3 {
          font-weight: normal;
          font-size: 8rem;
        }
        & .process {
          display: flex;
          gap: 2rem;
          & span {
            font-weight: lighter;
            font-style: normal;
            font-size: 2.5rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  section.services {
    & .allServices {
      & .singleService {
        & .serviceInfos {
          width: fit-content;
          gap: 1.5rem;
          & h3 {
            font-size: 8rem;
          }
          & .process {
            & span {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  section.services {
    & .allServices {
      & .singleService {
        & .serviceInfos {
          & h3 {
            font-size: 7rem;
          }
          & .process {
            & span {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  section.services {
    & .allServices {
      & .singleService {
        & .serviceInfos {
          & h3 {
            font-size: 4rem;
          }
          & .process {
            & span {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
