.outer {
  overflow: hidden;
  .slider {
    display: flex;
    gap: 10rem;
    width: 500vw;
    section {
      height: 100vh;
      &:first-child {
        margin-right: 15rem;
      }
      &.text {
        position: relative;
        padding-top: 7rem;
        font-size: 4rem;
        & p {
          width: 500px;
        }
      }
      & .inner {
        margin: 7rem;
        padding: 2rem 5rem;
        background-color: rgba($blue, $alpha: 0.21);
        position: relative;
        width: 57rem;
        height: calc(100% - 14rem);
        border-radius: 15px;
        transition: background-color 0.5s ease;
        &:hover {
          background-color: rgba($blue, $alpha: 1);
          & .projectTitle,
          .projectYear {
            color: $black;
          }
          & .projectActions {
            & .btn {
              @include button(false);
              mix-blend-mode: difference;
            }
          }
          & .projectImage {
            & img {
              scale: 1.12;
            }
          }
        }
        & .projectTitle,
        .projectYear {
          font-weight: normal;
          transition: all 0.5s ease;
        }
        & .projectTitle {
          font-size: 7.5rem;
        }
        & .projectYear {
          font-size: 4rem;
        }
        & .projectImage {
          margin: 2rem auto;
          position: relative;
          & img {
            position: relative !important;
            width: 100%;
            object-fit: contain;
            transition: scale 0.5s ease;
          }
        }
        & .projectActions {
          display: flex;
          justify-content: flex-end;
          & .btn {
            @include button(false);
            cursor: pointer;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}
