.outer {
  overflow: hidden;
  .slider {
    display: flex;
    gap: 10rem;
    width: fit-content;
    section {
      height: 100vh;
      &:first-child {
        margin-right: 15rem;
      }
      &.text {
        position: relative;
        padding-top: 7rem;
        font-size: 4rem;
        & p {
          width: 500px;
        }
      }
      & .inner {
        margin: 7rem;
        padding: 2rem 5rem;
        background-color: rgba($blue, $alpha: 0.21);
        position: relative;
        width: 57rem;
        height: calc(100% - 14rem);
        border-radius: 15px;
        transition: background-color 0.5s ease;
        &:hover {
          background-color: rgba($blue, $alpha: 1);
          & .projectTitle,
          .projectYear {
            color: $black;
          }
          & .projectActions {
            & .btn {
              @include button(false);
              mix-blend-mode: difference;
            }
          }
          & .projectImage {
            & img {
              scale: 1.12;
            }
          }
        }
        & .projectTitle,
        .projectYear {
          font-weight: normal;
          transition: all 0.5s ease;
        }
        & .projectTitle {
          font-size: 7.5rem;
        }
        & .projectYear {
          font-size: 4rem;
        }
        & .projectImage {
          margin: 2rem auto;
          position: relative;
          & img {
            position: relative !important;
            width: 100%;
            object-fit: contain;
            transition: scale 0.5s ease;
          }
        }
        & .projectActions {
          display: flex;
          justify-content: flex-end;
          & .btn {
            @include button(false);
            cursor: pointer;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1285px) {
  .outer {
    .slider {
      width: 581vw;
    }
  }
}

@media screen and (max-width: 1150px) {
  .outer {
    .slider {
      position: relative;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      section {
        height: auto;
        width: auto;
        &:first-child {
          margin-right: 0;
          margin-bottom: 0rem;
        }
        &.text {
          position: relative;
          padding-top: 7rem;
          font-size: 5rem;
          align-self: flex-start;
          height: auto;
          & p {
            width: fit-content;
          }
        }
        & .inner {
          margin: 0;
          padding: 2rem 3rem;
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 15px; //ere
          &:hover {
            background-color: rgba($blue, $alpha: 0.21);
            & .projectTitle,
            .projectYear {
              color: $blue;
            }
            & .projectActions {
              & .btn {
                font-size: 4rem;
                mix-blend-mode: normal;
              }
            }
            & .projectImage {
              & img {
                scale: 1.12;
              }
            }
          }
          & .projectTitle {
            font-size: 7rem;
          }
          & .projectYear {
            font-size: 2.5rem;
          }
          & .projectActions {
            display: flex;
            justify-content: center;
            & .btn {
              @include button(false);
              cursor: pointer;
              transition: all 0.5s ease;
              width: fit-content;
              font-size: 4rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .outer {
    .slider {
      position: relative;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      width: 100%;
      section {
        height: 50vh;
        width: calc(100vw - 6rem);
        &:first-child {
          margin-right: 0;
          margin-bottom: 2rem;
        }
        &.text {
          position: relative;
          padding-top: 7rem;
          font-size: 4rem;
          & p {
            width: fit-content;
          }
        }
        & .inner {
          margin: 0;
          padding: 2rem 3rem;
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 10px; //ere
          &:hover {
            background-color: rgba($blue, $alpha: 0.21);
            & .projectTitle,
            .projectYear {
              color: $blue;
            }
            & .projectActions {
              & .btn {
                font-size: 2rem;
                mix-blend-mode: normal;
              }
            }
            & .projectImage {
              & img {
                scale: 1.12;
              }
            }
          }
          & .projectTitle {
            font-size: 5rem;
          }
          & .projectYear {
            font-size: 2.5rem;
          }
          & .projectActions {
            display: flex;
            justify-content: center;
            & .btn {
              @include button(false);
              cursor: pointer;
              transition: all 0.5s ease;
              width: fit-content;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .outer {
    .slider {
      section {
        & .inner {
          & .projectTitle {
            font-size: 4rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 321px) {
  .outer {
    .slider {
      section {
        height: auto;
        width: auto;
        &.text {
          position: relative;
          padding-top: 7rem;
          font-size: 3rem;
          & p {
            width: fit-content;
          }
        }
        & .inner {
          & .projectTitle {
            font-size: 3rem;
          }
        }
      }
    }
  }
}
